html {
  font-size: 0.8em;
}

body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #333;
}

h1,
h2,
p,
a,
.meta > * {
  line-height: 1rem;
  margin-top: 0;
  margin-bottom: 0rem;
}

.error,
.info {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.25rem;
  line-height: 2rem;
}

p {
  font-size: 0.95rem;
  line-height: 2rem;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #eee;
}

#bookmarks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

a,
a:hover {
  text-decoration: none;
  color: #11a;
}

a:visited {
  color: #51a;
}

#bookmarks .meta {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  color: #444;
}

#bookmarks .meta > * {
  line-height: 2rem;
  font-size: 0.85rem;
}

#bookmarks a.delete {
  text-decoration: none;
  color: #666;
}

#bookmarks a.delete:hover {
  color: #11a;
}
